body{
    margin: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
}
.signup-image{
    width:40vw;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
form{
    width: 40vw;
    padding: 50px;
}
.information-box{
    display: flex;
    flex-direction: column;
}
.information-box2{
    display: flex;
}
h1{
    text-align: center;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 2.5rem;
}
input{
    height: 40px;
    border-radius: 5px;
}
select{
    height: 40px;
    border-radius: 5px;
}
button{
    height: 40px;
    border-radius: 5px;
}
#signin-lable{
    text-align: center;
}
p{
    color: red;
}